@use "partials/variables";
@use "partials/navbar";
@use "partials/hero";
@use "partials/objectif";
@use "partials/portfolio";
@use "sass:color";

* {
    box-sizing: border-box;
    font-family: 'Orelega One', serif;
}

body {
    background-color: #000;
    max-width: 100%;
    width: 100vw;
    margin: 0;
    position: relative;
}

header {
    position: sticky;
    z-index: 3;
    background-color: black;
}

.jumpTo {
    position: relative;
    top: -125px;
}

section {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    color: white;
}

.row {
    align-items: center;
}

footer {
    height: 90vh;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;

    &:hover {
        color: var(--secondary);
    }
}