.card {
    border-radius: 25px;
    transition: 0.3s;

    &-img-top {
        border-radius: 25px;
        border: white solid 2px;
        object-fit: cover;
        height: 500px;
    }
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px 10px var(--primary);
    }
}