.competences, .role, .logiciels {
    h2 {
        text-align: center;
    }
    .col-12 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
    }
}