.competences, .role, .logiciels {
    h2 {
        text-align: center;
    }
    .col-12 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
    }
}

@media screen and (max-width: 992px  ){
    .competences, .role, .logiciels {
        img {
            width: 30vw;
        }
    }
}

@media screen and (max-width: 576px  ) {

    .competences, .role, .logiciels {
        img {
            width: 60vw;
        }
    }
}