.moi {
    width: 150%;
}

.bulles {
    z-index: -1;
    width: 100%;
    filter: blur(5px);
    opacity: 50%;
    position: absolute;
}

.introduction {
    font-size: 100px;
    position: relative;
    width: 200%;
    padding-top: 70%;
    line-height: 1.2;
}

