
.navbar {
    width: 100%;
    height: 10%;
    font-size: 25px;
    border-bottom: 5px solid white;

    &-brand {
        color: var(--primary);
        font-size: 60px;
        padding-left: 5%;
        transition-property: color;
        transition-duration: 0.3s;
        text-shadow: 2px 2px rgb(255, 0, 179), 4px 4px blue;

        &:hover {
            color: var(--secondary);
        }
    }

    &-collapse {
        justify-content: flex-end;
        padding-right: 5%;
    }

    &-nav {
        width: 50%;
        justify-content: space-between;
    }

    .nav {
        &-link {
            color: white;
            font-style: normal;
        }
        &-item {
            position: relative;

            &::after {
                content: "";
                width: 0;
                height: 3px;
                background: var(--primary);
                position: absolute;
                left: 0;
                bottom: 0;
                transition: 0.3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
